<h1>Events</h1>

<table>
  <tr>
    <th>Activity/Group</th>
    <th>Event Name</th> 
    <th>Start at</th>
    <th>End at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
  <td><%= Activity.find(event.activity_id).activity_name%></td>
   
    <td><%= event.name %></td>
    <td><%= event.start_at %></td>
    <td><%= display_event_end_time(event)%></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Event', new_event_path, class: "create-new" %>
