<p id="notice"><%= notice %></p>

<p>
  <b>Activity Name:</b>
  <%= @event.activity.activity_name %>
</p>

<p>
  <b>Event Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Start at:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @event.end_at %>
</p>

<% if current_user.id == @event.activity.user.id %>
	<%= link_to 'Edit', edit_event_path(@event) %> |
	<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
 <% end %>
<br/>
<br/>
<br/>
<br/>

<%= link_to 'Back to Calendar', calendar_path(@event.activity.id) %> |

<%= link_to 'Back to Event Listing', activity_path(@event.activity.id) %> 