<%= form_for(@activity, :html => { :multipart => true }) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_icon, 'Activity Icon:' %><br />
    <%= f.file_field :activity_icon %>
  </div>
  <div class="field">
    <%= f.label :activity_name, 'Activity or Group Name:' %><br />
    <%= f.text_field :activity_name %>
  </div>

<!-- Hidden field pushes user_id into parameters for use in step 2
 -->  
  <%= f.hidden_field :user_id, {:value => current_user.id} %>

  <div class="action">
  <%= f.submit 'Next', :class => "nextbutton1" %> 
  </div>

<% end %>

<!-- JavaScript to show which step in Calendar Wizard -->
<script>
  $(document).ready(function() {
    $('.step1').addClass('current_step');
  });

  $(document).unload(function() {
    $('.step1').removeClass('current_step');
  });

</script>
