<p id="notice"><%= notice %></p>

 <div id='icon' class='rotating'>
</div>
 <div id='icon' class='rotating'>
</div>
 <div id='icon' class='rotating'>
</div>
 <div id='icon' class='rotating'>
</div>
 <div id='icon' class='rotating'>
</div>

<h2 class="page-title">
  Activity Name:
 <%= @activity.activity_name %>
<p>
</br>
  Calendar Owner:
  <%= @activity.user.name %> </p>
</h2>


<table>
  <tr>
    <th>Event Name</th> 
    <th>Start at</th>
    <th>End at</th>
    <th></th>
    <th></th>
  </tr>

<% @activity_events_ordered.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.start_at %></td>
   
    <td><%= display_event_end_time(event)%></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>


  </tr>
<% end %>
</table>

<% if current_user.id == @activity.user.id %>
  <%= link_to 'Add Events', new_event_path(:activity_id => @activity.id), class: "create-new" %> </br>
  <%= link_to 'Edit', edit_activity_path,class: "router" %> |
<% end %>


<%= link_to 'Back', activities_path, class: "router" %>

<script type="text/javascript">

  console.log ("test")
  var image_url = '<%= @image_url%>'
  console.log (image_url)

  $(document).ready(function() {
    $('#icon.rotating').css('background', 'url(' + image_url + ')');
    });

</script>
