<p id="notice"><%= notice %></p>

<p>
  <b>Activity Name:</b>
  <%= @activity.activity_name %>
</p>

<p>
  <b>Calendar Owner:</b>
  <%= @activity.user.name %>
</p>

<%= image_tag @activity.activity_icon.url %>


<table>
  <tr>
    <th>Event Name</th> 
    <th>Start at</th>
    <th>End at</th>
    <th></th>
    <th></th>
  </tr>

<% @activity.events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.start_at %></td>
   
    <td><%= display_event_end_time(event)%></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>


  </tr>
<% end %>
</table>

<%= link_to 'Add Events', new_event_path(:activity_id => @activity.id), class: "create-new" %>

<%= link_to 'Edit', edit_activity_path %> |
<%= link_to 'Back', activities_path %>
